{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header text-center">
              Data table
            </div>
            <div class="card-body">
              	<table class="table table-hover" id="results_table">
                		<thead>
                			<tr>
                        {% for key in data[0] %}
                				    <th scope="col">{{ key }}</th>
                				{% endfor %}
                			</tr>
                		</thead>
                		<tbody id="resultsTable">
                			{% for row in data %}
                        <tr name="{{ row['Gene'] }}_{{ row['Protein AA Position'] }}">
                            {% for key in row %}
                				        <td>{{ row[key] }}</td>
                            {% endfor %}
                				</tr>
                			{% endfor %}
                		</tbody>
              	</table>
            </div>
        </div>
    </div>
</div>


<script>

$(document).ready( function () {
        var table = $('#results_table').DataTable( {
            select: true,
            "scrollX": true,
        // dom: 'Blfrtip',
        })
        new $.fn.dataTable.Buttons( table, {
        buttons: [
                    'selectAll',
                    'selectNone',
                    'pdf',
                    'excelHtml5',
        ],
        } );

    table.buttons().container()
			.appendTo( $('.col-md-6:eq(0)', table.table().container() ) )
		} );

</script>

{% endblock %}
