{% extends 'base.html' %}

{% block header %}


{% endblock %}

{% block content %}
<div class="pt-4 pb-4 text-center">
	This page allows you to input Primer/Probe sequences to check how well they
    are conserved across a large collection of clinical isolates.

</div>


<div class="row justify-content-md-center">
	<div class="col-md-6 pb-4">
		<div class="card">
			<div class="card-header">
				Primer conservation
			</div>
			<div class="card-body">
				<p class="card-text">
					Please input your primer/probe sequences and hit submit.
                    Only standard IUPAC symbols may be used.
				</p>
				<form method="post" enctype=multipart/form-data>
                    <div class="form-row">
						<div class="form-group col-md-6">
							<label for="project_id">Forward primer</label>
							<input type="text" class="form-control" id="primerF" name="primerF" placeholder="">

                            <label for="project_id">Probe</label>
							<input type="text" class="form-control" id="probe" name="probe" placeholder="">



						</div>
						<div class="form-group col-md-6">
                            <label for="lineage">Reverse primer</label>
							<input type="text" class="form-control" id="primerR" name="primerR" placeholder="">

						</div>
					</div>
					<hr>
					<button type="submit" class="btn btn-primary" name="single_sample_submit" id="single_sample_submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
<!-- </div> -->



{% endblock %}
